h2 Task List
#taskList
  table
    thead
      th Force crawl
      th Url
      th Crawl Frequency
      th Last Crawl
      th Delete 
    tbody
// /TASK LIST


// USER INFO
#crawlInfo
  h2 Crawl info
  #crawlStatus
  p Status

  h3 Crawl History
  #crawlList
    table
      thead
        th Crawl Date
        th Title
        th Meta Description
        th Robots
        th Canonical
        th Mobile Alternate
        th Keywords   
        th Amp Alternate


      tbody
// /USER INFO
