// USER INFO
#urlInfo
  h2 Crawl History
  p Dashboard
    strong Url:
    |  <span id='urlUrl'></span>
    br
    strong Title:
    |  <span id='urlTitle'></span>
    br
    strong LastCrawl:
    |  <span id='urlLastCrawl'></span>
    br

  #crawlList
    table
      thead
        th Force crawl
        th Url
        th Crawl Frequency


// /USER INFO
