include ./task_list.jade

extends layout

block content
  h1= title
  p Keep track of changes that might break your business

    .row
      .col-sm-4 
        // TASK LIST
        include ./task_list.jade

      .col-sm-8 
        include ./crawl_list.jade

  // /WRAPPER

